<ion-header>
  <app-header> </app-header>
</ion-header>



<ion-content>
  <div class="">
    <img src="assets/images/landing-bg.png" alt="" class="fullscreen-image">
  </div>
  <div>
    <app-website></app-website>
  </div>
  <div>
    <app-cards></app-cards>
  </div>
  <div>
    <app-offer></app-offer>
  </div>
  <div>
    <app-music-app></app-music-app>
  </div>
  <div>
    <app-chatbox></app-chatbox>
  </div>
  <div>
    <app-user></app-user>
  </div>
  <div>
    <app-website></app-website>
  </div>


<ion-footer>
  <app-footer> </app-footer>
</ion-footer>
